<%- model_class = Station -%>
<div class="page-header">
  <h1> Nearest stations </h1>
</div>

<div class="container-fluid">
  <% @nearest_stations.each do |station| %>
      <div class="row-fluid well" onclick="location.href=' <%= station_path(station) %>'" >
        <span class="badge"><%= station['name'] %></span>
        <span class="col-md-2"><%= station['city'] %></span>
        <span class="col-md-2"><%= station['address'] %></span>
        <span class="col-md-6">
          <% station.prices.sort_by{|x| x.fuel_type}.each do |price|%>
           <span class="label label-success">
             <%= price.fuel_type %>
             <span class="badge">
              <%= price.price %>
            </span>
            </span>
          <% end %>
       </span>



      </div>
  <% end %>


</div>


<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 800px;'></div>
</div>

<script>
    function setGeoCookie(position){
        document.cookie = "lat=" + escape(position.coords.latitude);
        document.cookie = "lon=" + escape(position.coords.longitude);

    }

    navigator.geolocation.getCurrentPosition(setGeoCookie);
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    });
</script>

<%= @hash %>