<%- model_class = Station -%>
<div class="page-header">
  <h1><%=t '.title', :default => ("#{@station.name}, #{@station.address}, #{@station.city}") %></h1>
</div>



<!-- dane stacji -->
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:brand) %>:</strong></dt>
  <dd><%= @station.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @station.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @station.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:longitude) %>:</strong></dt>
  <dd><%= @station.longitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></dt>
  <dd><%= @station.latitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prices) %>:</strong></dt>



  <!-- ceny paliw -->
  <dd>
    <table class="table">

      <thead>
      <tr>
        <% @types.each do |type| %>
            <th><%= type %></th>
        <% end %>
      </tr>
      </thead>

      <tr>
        <% @types.each do |type| %>
            <td>
              <% fuel_price = @station.prices.find_by(fuel_type: type) %>
              <%= fuel_price.price if fuel_price %>
            </td>
        <% end %>
      </tr>
    </table>
  </dd>
</dl>

<% if @station.prices.size > 0 %>
    <p style="text-align: right">Last prices update: <%= time_ago_in_words @station.prices[0].updated_at %></p>
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 500px;'></div>
</div>

<script>
    function setGeoCookie(position){
        document.cookie = "lat=" + escape(position.coords.latitude);
        document.cookie = "lon=" + escape(position.coords.longitude);

    }
    navigator.geolocation.getCurrentPosition(setGeoCookie);
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
            {
                "lat": <%= @station['latitude'] %>,
                "lng": <%= @station['longitude'] %>,
                "picture": {
                    "url": "public/stacja.png",
                    "width":  36,
                    "height": 36
                },
                "infowindow": "<%= " #{@station['name']}, #{@station['address']}, #{@station['city']} " %>"
            }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>


<%= @cookies %>


<br><br>
<!-- Your ip is: <%# request.remote_ip %> -->
<br><br>








<!-- back edit delete -->
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              stations_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_station_path(@station), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              station_path(@station),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
